[Desktop Entry]
Encoding=UTF-8
Name=Rupees
Comment=Rupees P2P Cryptocurrency
Comment[fr]=Rupees, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rupees, eşten eşe kriptografik sanal para birimi
Exec=digitalrupee-qt %u
Terminal=false
Type=Application
Icon=digitalrupee128
MimeType=x-scheme-handler/digitalrupee;
Categories=Office;Finance;
